/*---------------------------------------------------------------------------
-- Vuetify Base
---------------------------------------------------------------------------*/
#Admin_Menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

/*---------------------------------------------------------------------------
-- Menu Base
---------------------------------------------------------------------------*/
#Admin_Menu_Base {
    position: absolute;
    width: 950px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*---------------------------------------------------------------------------
-- Menu Header
---------------------------------------------------------------------------*/
#Admin_Menu_Header {
    background-color: black;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*---------------------------------------------------------------------------
-- Menu Body
---------------------------------------------------------------------------*/
#Admin_Menu_Body {
    max-height: 500px;
    overflow-y: auto;
    background-color: white;
}

#Admin_Menu_Body_Container {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

/*---------------------------------------------------------------------------
-- Menu Body Pages
---------------------------------------------------------------------------*/
#Admin_Menu_Body_Chat_Box {
    width: 850px;
    height: 270px;
    background-color: rgba(63, 63, 63, 1.0);
    max-height: 270px;
    max-width: 850px;
    overflow-y: auto;
    word-wrap: break-word;
    padding: 10px;
    font-size: 15px;
}

#Admin_Menu_Body_Kick_Playerlist {
    max-height: 180px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#Admin_Menu_Body_Kick_Chosen {
    text-align: center;
    font-size: 20px;
}

#Admin_Menu_Body_Ban_Playerlist {
    max-height: 180px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#Admin_Menu_Body_Ban_Chosen {
    text-align: center;
    font-size: 20px;
}

/*---------------------------------------------------------------------------
-- CLASSES BELOW HERE
---------------------------------------------------------------------------*/
.chatMessageName {
    float: left;
    color: red;
    margin-right: 3px;
}

.chatMessage {
    float: left;
    color: white;
}