<html>
    <head>
        <title>XRPLife UI</title>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
        <link rel="stylesheet" href="./libraries/css/vuetify.css">
        <link rel="stylesheet" href="./libraries/css/material.css">
        <link rel="stylesheet" href="./css/notification.css">
        <link rel="stylesheet" href="./css/charactermenu.css">
        <link rel="stylesheet" href="./css/characterstartermenu.css">
        <link rel="stylesheet" href="./css/atmmenu.css">
        <link rel="stylesheet" href="./css/adminmenu.css">

        <style>
            html {
                background-color: transparent !important; /* transparent !important */
                overflow-x: hidden;
                overflow-y: hidden;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        </style>
    </head>
    <body>

        <v-app id="Notification_System">
            <v-content>
                <vue-snotify></vue-snotify>
            </v-content>
        </v-app>

        <v-app id="Character_Menu" v-show="showMenu">
            <v-content>

                <div id="Character_Menu_Characters">
                    <div id="Character_Menu_Characters_Header">
                        XRPLife Character Menu
                        <v-btn color="blue" icon dark @click="ShowCreator()" :loading="showLoading">
                            <v-icon>add</v-icon>
                        </v-btn>
                    </div>
                    <div id="Character_Menu_Characters_Body">
                        <v-container grid-list-md>
                            <v-alert type="info" :value="true" v-if="characters.length < 1">
                                You have no characters
                            </v-alert>
                            <v-layout row wrap>
                                <v-flex xs4 v-for="(character, index) in characters">
                                    <v-card>
                                        <v-card-title primary-title>
                                            {{ character.name }}
                                        </v-card-title>
                                        <v-card-text>
                                            Dob: {{ character.dob }} | {{ character.age }}<br>
                                            Gender: {{ character.gender }}<br>
                                            Bank: ${{ character.bank }}
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-btn color="green" block dark @click="SelectCharacter(index)" :loading="showLoading">Select</v-btn>
                                            <v-btn color="red" block dark @click="DeleteCharacter(index)" :loading="showLoading">Delete</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </div>
                </div>

                <v-dialog v-model="showCreator" persistent max-width="580px" transition="dialog-transition">
                    <div id="Character_Menu_Creator_Header">
                        XRPLife Character Creator
                    </div>
                    <div id="Character_Menu_Creator_Body">
                        <v-form ref="creatorForm">

                            <v-container grid-list-md>
                                <v-layout row>
                                    <v-flex xs6>
                                        <v-text-field label="First Name" v-model="first" :rules="nameRules"></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field label="Last Name" v-model="last" :rules="nameRules"></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>

                            <v-container grid-list-md>
                                <v-layout row>
                                    <v-flex xs12>
                                        <v-select :items="genders" v-model="sex" label="Sex" :rules="selectRules"></v-select>
                                    </v-flex>
                                </v-layout>
                            </v-container>

                            <v-container grid-list-md>
                                <v-layout row>
                                    <v-flex xs6>
                                        <v-text-field label="Dob" :disabled="true" v-model="dob" :rules="dobRules"></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field label="Age" :disabled="true" v-model="age" :rules="ageRules"></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-date-picker id="Character_Menu_Creator_Calender" v-model="dob" landscape></v-date-picker>
                            </v-container>

                            <v-container grid-list-md>
                                <v-layout row>
                                    <v-flex xs6>
                                        <v-btn color="green" block dark :loading="showLoading" @click="CreateCharacter()">Create</v-btn>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-btn color="red" block dark :loading="showLoading" @click="ShowCreator()">Cancel</v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <v-alert type="error" :value="showError">
                                {{ errorMessage }}
                            </v-alert>
                        </v-form>
                    </div>
                </v-dialog>
            </v-content>
        </v-app>

        <v-app id="Character_Start_Modifier" v-show="showMenu">
            <v-content>
                <div id="Character_Start_Base">
                    <div id="Character_Start_Header">
                        Character Modification
                    </div>
                    <div id="Character_Start_Body">

                        <v-tabs v-model="tab" color="black" dark slider-color="primary" next-icon="arrow_right" prev-icon="arrow_left" grow>
                            <v-tab v-for="(tab, index) in tabs" :key="index">
                                {{ tab }}
                            </v-tab>

                            <v-tab-item v-for="(tab, index) in tabs" :key="index">

                                <div v-if="tab == 'MODEL'">
                                    <v-select :items="models" v-model="model" label="Select Model" autocomplete></v-select>
                                </div>

                                <div v-if="tab == 'FACE'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('FACE', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['FACE'].draw['current']" step="1" :min="components['FACE'].draw['min']" :max="components['FACE'].draw['max']" :label="components['FACE'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('FACE', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'HEAD'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('HEAD', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['HEAD'].draw['current']" step="1" :min="components['HEAD'].draw['min']" :max="components['HEAD'].draw['max']" :label="components['HEAD'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('HEAD', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('HEAD', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['HEAD'].text['current']" step="1" :min="components['HEAD'].text['min']" :max="components['HEAD'].text['max']" :label="components['HEAD'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('HEAD', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'HAIR'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('HAIR', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['HAIR'].draw['current']" step="1" :min="components['HAIR'].draw['min']" :max="components['HAIR'].draw['max']" :label="components['HAIR'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('HAIR', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('HAIR', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['HAIR'].text['current']" step="1" :min="components['HAIR'].text['min']" :max="components['HAIR'].text['max']" :label="components['HAIR'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('HAIR', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'ARMS'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('ARMS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['ARMS'].draw['current']" step="1" :min="components['ARMS'].draw['min']" :max="components['ARMS'].draw['max']" :label="components['ARMS'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('ARMS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('ARMS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['ARMS'].text['current']" step="1" :min="components['ARMS'].text['min']" :max="components['ARMS'].text['max']" :label="components['ARMS'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('ARMS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'LEGS'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('LEGS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['LEGS'].draw['current']" step="1" :min="components['LEGS'].draw['min']" :max="components['LEGS'].draw['max']" :label="components['LEGS'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('LEGS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('LEGS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['LEGS'].text['current']" step="1" :min="components['LEGS'].text['min']" :max="components['LEGS'].text['max']" :label="components['LEGS'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('LEGS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'BAGS'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('BAGS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['BAGS'].draw['current']" step="1" :min="components['BAGS'].draw['min']" :max="components['BAGS'].draw['max']" :label="components['BAGS'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('BAGS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('BAGS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['BAGS'].text['current']" step="1" :min="components['BAGS'].text['min']" :max="components['BAGS'].text['max']" :label="components['BAGS'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('BAGS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'SHOES'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('SHOES', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['SHOES'].draw['current']" step="1" :min="components['SHOES'].draw['min']" :max="components['SHOES'].draw['max']" :label="components['SHOES'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('SHOES', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('SHOES', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['SHOES'].text['current']" step="1" :min="components['SHOES'].text['min']" :max="components['SHOES'].text['max']" :label="components['SHOES'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('SHOES', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'NECK'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('NECK', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['NECK'].draw['current']" step="1" :min="components['NECK'].draw['min']" :max="components['NECK'].draw['max']" :label="components['NECK'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('NECK', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('NECK', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['NECK'].text['current']" step="1" :min="components['NECK'].text['min']" :max="components['NECK'].text['max']" :label="components['NECK'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('NECK', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'ACCESSORIES'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('ACCESSORIES', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['ACCESSORIES'].draw['current']" step="1" :min="components['ACCESSORIES'].draw['min']" :max="components['ACCESSORIES'].draw['max']" :label="components['ACCESSORIES'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('ACCESSORIES', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('ACCESSORIES', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['ACCESSORIES'].text['current']" step="1" :min="components['ACCESSORIES'].text['min']" :max="components['ACCESSORIES'].text['max']" :label="components['ACCESSORIES'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('ACCESSORIES', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'VESTS'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('VESTS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['VESTS'].draw['current']" step="1" :min="components['VESTS'].draw['min']" :max="components['VESTS'].draw['max']" :label="components['VESTS'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('VESTS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('VESTS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['VESTS'].text['current']" step="1" :min="components['VESTS'].text['min']" :max="components['VESTS'].text['max']" :label="components['VESTS'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('VESTS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'OVERLAYS'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('OVERLAYS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['OVERLAYS'].draw['current']" step="1" :min="components['OVERLAYS'].draw['min']" :max="components['OVERLAYS'].draw['max']" :label="components['OVERLAYS'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('OVERLAYS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('OVERLAYS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['OVERLAYS'].text['current']" step="1" :min="components['OVERLAYS'].text['min']" :max="components['OVERLAYS'].text['max']" :label="components['OVERLAYS'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('OVERLAYS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'JACKETS'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">DRAWABLE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompDraw('JACKETS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['JACKETS'].draw['current']" step="1" :min="components['JACKETS'].draw['min']" :max="components['JACKETS'].draw['max']" :label="components['JACKETS'].draw['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompDraw('JACKETS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>

                                                <div id="character_label">TEXTURE</div>
                                                <v-layout row>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="DecreaseCompText('JACKETS', 1)"><v-icon>arrow_left</v-icon></v-btn>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-slider v-model="components['JACKETS'].text['current']" step="1" :min="components['JACKETS'].text['min']" :max="components['JACKETS'].text['max']" :label="components['JACKETS'].text['current']" disabled></v-slider>
                                                    </v-flex>
                                                    <v-flex xs3>
                                                        <v-btn color="blue" dark @click="IncreaseCompText('JACKETS', 1)"><v-icon>arrow_right</v-icon></v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                                <div v-if="tab == 'FINISH'">
                                    <v-card>
                                        <v-card-text>
                                            <v-content>
                                                <div id="character_label">Are you finished editing your character's appearance?</div>
                                                <v-layout row>
                                                    <v-flex xs12>
                                                        <v-btn color="green" dark @click="FinishCharacter()" block><v-icon>done</v-icon>YES!</v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-content>
                                        </v-card-text>
                                    </v-card>
                                </div>

                            </v-tab-item>
                        </v-tabs>
                        <div>
                            <v-container grid-list-md>
                                <v-layout row>
                                    <v-flex xs6>
                                        <v-btn color="blue" block dark @click="RotateCharacter(30)"><v-icon>rotate_left</v-icon></v-btn>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-btn color="blue" block dark @click="RotateCharacter(-30)"><v-icon>rotate_right</v-icon></v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </div>
                    </div>
                </div>
            </v-content>
        </v-app>

        <v-app>
            <v-content>
                <v-slider v-model="test" step="1"></v-slider>
            </v-content>
        </v-app>

        <v-app id="ATM_Menu" v-show="showMenu">
            <v-content>
                <div id="ATM_Menu_Base">
                    <div id="ATM_Menu_Header">
                        <div id="ATM_Character_Information">
                            <div>Welcome, {{ character_name }}</div>
                            <div>Balance: ${{ account }}</div>
                        </div>
                        <v-icon dark x-large left>account_balance</v-icon>
                        XRPLife Banking
                        <v-btn color="red" slot="activator" absolute right top fab dark small @click="CloseMenu()"><v-icon>clear</v-icon></v-btn>
                    </div>
                    <div id="ATM_Menu_Body">
                        <v-container grid-list-md>
                            <v-form ref="depositForm" v-model="depositFormValid">
                                <v-layout row>
                                    <v-flex xs12>
                                        <v-text-field label="Amount" type="number" :rules="inputRules" v-model="depositAmount" prefix="$" :disabled="loading" :loading="loading" min="1"></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-layout row>
                                    <v-flex xs12>
                                        <v-btn color="blue" block dark :loading="loading" @click="DepositMoney()">Deposit</v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </v-container>
                        <v-container grid-list-md>
                            <v-form ref="withdrawForm" v-model="withdrawFormValid">
                                <v-layout row>
                                    <v-flex xs12>
                                        <v-text-field label="Amount" type="number" :rules="inputRules" v-model="withdrawAmount" prefix="$" :disabled="loading" :loading="loading" min="1"></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-layout row>
                                    <v-flex xs12>
                                        <v-btn color="blue" block dark :loading="loading" @click="WithdrawMoney()">Withdraw</v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </v-container>
                    </div>
                </div>
            </v-content>
        </v-app>

        <v-app id="Admin_Menu" v-show="showMenu">
            <v-content>
                <div id="Admin_Menu_Base">
                    <div id="Admin_Menu_Header">
                        <v-icon dark x-large left>gavel</v-icon>
                        Moderation Menu
                        <v-btn color="red" slot="activator" absolute right top fab dark small @click="CloseMenu()"><v-icon>clear</v-icon></v-btn>
                    </div>
                    <div id="Admin_Menu_Body">

                        <v-toolbar color="black">
                            <v-toolbar-items v-for="page in pages">
                                <v-btn flat color="white" @click="ChangePage(page.page, page.perm)">{{ page.label }}</v-btn>
                            </v-toolbar-items>
                        </v-toolbar>

                        <div id="Admin_Menu_Body_Container">

                            <div v-show="currentPage == 'main'">
                                <div><center><h2>Welcome to XRPLife's Moderation Page.</h2></center></div>
                                <div><center><font color="red"><h3>--------------------<ul>PLEASE READ</ul>--------------------</h3> Please be careful what perms you give your staff. There are some things in this menu that can truly manage a player...</font></center></div>
                            </div>

                            <div v-show="currentPage == 'chat'">
                                <v-container grid-list-xs>
                                    <v-layout row>
                                        <v-flex xs12>
                                            <div id="Admin_Menu_Body_Chat_Box">
                                                <div id="Admin_Menu_Body_Chat_Box_Message" v-for="message in AdminMessages">
                                                    <div class="chatMessageName">
                                                        [{{ message.rank }}] {{ message.name }}: 
                                                    </div>
                                                    <div class="chatMessage">
                                                        {{ message.message }}
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-layout row wrap>
                                              <v-flex xs12>
                                                <v-btn color="blue" dark small fab @click="ToggleChatNotifications()">
                                                    <v-icon v-if="muteChatNotification == false">volume_up</v-icon>
                                                    <v-icon v-if="muteChatNotification == true">volume_off</v-icon>
                                                </v-btn>
                                              </v-flex>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row>
                                        <v-flex xs12>
                                            <v-text-field flat append-icon="arrow_right" label="Message Here" v-model="adminMessage"></v-text-field>
                                        </v-flex>
                                        <v-flex xs3>
                                            <v-btn color="blue" dark block large flat outline @click="SendChatMessage()">SEND MESSAGE</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </div>

                            <div v-show="currentPage == 'kick'">

                                <v-container grid-list-lg>
                                    <v-layout row>
                                        <v-flex xs4>
                                            <div id="Admin_Menu_Body_Kick_Playerlist">
                                                <v-btn color="black" dark block v-for="(player, index) in players" @click="SetSelectedKickPlayer(index)">{{ player.serverid }}<br>{{ player.name }}</v-btn>
                                            </div>
                                        </v-flex>
                                        <v-flex xs8>
                                            <div id="Admin_Menu_Body_Kick_Chosen" v-if="ChosenPlayerKick.serverid != null">Player: {{ChosenPlayerKick.serverid}} | {{ ChosenPlayerKick.name }}</div>
                                            <v-text-field label="Reason" v-model="ChosenKickReason"></v-text-field>
                                            <v-layout row>
                                                <v-flex xs6>
                                                    <v-btn color="green" dark block @click="SetKickPlayer()">Kick</v-btn>
                                                </v-flex>
                                                <v-flex xs6>
                                                    <v-btn color="red" dark block @click="ClearKickMenu()">Clear</v-btn>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                </v-container>

                            </div>

                            <div v-show="currentPage == 'ban'">
                                
                                <v-container grid-list-md>
                                    <v-layout row>
                                        <v-flex xs4>
                                            <div id="Admin_Menu_Body_Ban_Playerlist">
                                                <v-btn color="black" dark block v-for="(player, index) in players" @click="SetSelectedBanPlayer(index)">{{ player.serverid }}<br>{{ player.name }}</v-btn>
                                            </div>
                                        </v-flex>
                                        <v-flex xs8>
                                            <v-form ref="banForm" v-model="BanFormValid">
                                                <v-layout row>
                                                    <v-flex xs4>
                                                        <v-select :items="BanTimeTypes" v-model="BanTimeType" :label="BanTimeType" :disabled="IsBanPerm"></v-select>
                                                    </v-flex>
                                                    <v-flex xs8>
                                                        <div id="Admin_Menu_Body_Ban_Chosen" v-if="ChosenPlayerBan.serverid != null">Player: {{ChosenPlayerBan.serverid}} | {{ ChosenPlayerBan.name }}</div>
                                                    </v-flex>
                                                </v-layout>
                                                <v-layout row>
                                                    <v-flex xs8>
                                                        <v-text-field label="Time" v-model="ChosenBanTime" type="number" :disabled="IsBanPerm" :suffix="BanTimeType" :rules="banTimeRules"></v-text-field>
                                                    </v-flex>
                                                    <v-flex xs4>
                                                        <v-switch label="Permanent Ban" v-model="IsBanPerm"></v-switch>
                                                    </v-flex>
                                                </v-layout>
                                                <v-layout row>
                                                    <v-flex xs12>
                                                        <v-text-field label="Ban Reason" multi-line clearable no-resize v-model="ChosenBanReason"></v-text-field>
                                                    </v-flex>
                                                </v-layout>
                                            </v-form>

                                            <v-layout row>
                                                <v-flex xs6>
                                                    <v-btn color="green" dark block @click="SetBanPlayer()">Ban</v-btn>
                                                </v-flex>
                                                <v-flex xs6>
                                                    <v-btn color="red" dark block @click="ClearBanMenu()">Clear</v-btn>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>    
                                </v-container>

                            </div>

                            <div v-show="currentPage == 'white'">
                                Whitelist Page
                            </div>
                            
                            <div v-show="currentPage == 'ranks'">
                                Change Ranks Page
                            </div>

                            <!-- Keep Below Menus -->
                            <v-alert type="error" transition="slide-y-reverse-transition" v-model="showError" dismissible>
                                {{ errorMessage }}
                            </v-alert>
                        </div>
                    </div>
                </div>
            </v-content>
        </v-app>

        <script src="./libraries/js/axios.min.js"></script>
        <script src="./libraries/js/vue.min.js"></script>
        <script src="./libraries/js/vuetify.js"></script>
        <script src="./libraries/js/vue-snotify.min.js"></script>
        <script src="./scripts/js/helpers.js"></script>
        <script src="./scripts/js/listener.js"></script>
        <script src="./scripts/js/notification.js"></script>
        <script src="./scripts/js/charactermenu.js"></script>
        <script src="./scripts/js/characterstartermenu.js"></script>
        <script src="./scripts/js/atmmenu.js"></script>
        <script src="./scripts/js/adminmenu.js"></script>
    </body>
</html>